/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

.navbar-nav {
  flex-direction: row;
}

.navbar-brand {
  padding-left: 1rem;
}

h2 {
	position: relative;
}

h2 span.bg {
	background: white;
	padding-right: 10px;
}

h2:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: calc(var(--bs-gutter-x)/ 2);
	right: 0;
	height: 0.5em;
	border-top: 1px dashed black;
	overflow: clip;
	z-index: -1
}

hr {
	border: 1px dashed black;
	background-color: inherit;
	opacity: 1.0;
}

i.cc-by-nd {
	font-size: 3em
}

footer p:not(:first-child) {
	font-size: small
}

footer p.cc-paragraph {
	display: flex;
	align-items: center;
}

@media (max-width: 768px) {
  .nav-item {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
}
